@media (min-width: 380px) and (max-width: 1100px){
    
    .principal_header_css_position {
        position: relative;
        left: -5%;
    }

    .button_navbar {
        padding: 19px 40px;
        position: relative;
    }
    
    #button_preview_content_element,
    #button_spin_roulette {
        top: 35%;
    }
    
}

