
/* ### posição dos botões principais */
@media (min-width: 0px) and (max-width: 3120px){
    
    .principal_header_css_position {
        position: relative;
        left: -5%;
    }

    .button_navbar {
        padding: 19px 40px;
        position: relative;
    }
    
    #button_preview_content_element,
    #button_spin_roulette {
        top: -30%;
    }
    
}